@import url('https://fonts.cdnfonts.com/css/linux-libertine-o');

body 
{ 
    background-attachment: fixed;
    background-color: #6b00c2;
    background-image: url('https://imgs.search.brave.com/Ws853Z59w8nvtnEiTk8_ZaRBVW9JZl0REvCVDGqWv9A/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly82NC5t/ZWRpYS50dW1ibHIu/Y29tLzAxMGM0NjA2/N2IyOWI3MTBjZTlh/NTA4ZmI0MTcxZGZi/L3R1bWJscl9pbmxp/bmVfbjF1Ym5qSlhk/ejFxbXZ3NmIuZ2lm.gif');
    background-repeat: repeat;
    background-position-y: -300px;
    background-position-x: -190px;
    margin: 0; 
    padding: 0;
}

*
{
    font-family: 'Linux Libertine O';
}


li, p, a      
{ 
    line-height: 1.3em; 
    font-size: 1.2em;
}

h3
{
    font-size: 1.4em;
    color: #6b00c2;
}

.bar
{
    font-size: 0.9em;
}


a img  
{
     border: none; 
}


ul          
{ 
    list-style-image: url('dot.gif');
}

ul li ul    
{ 
    list-style-image: url('dot2.gif');
}

.nav  
{ 
    background-color: #00000028; margin: 15px 0 15px 0; padding: 5px; 
}
.nav ul    
{ 
    list-style: none; margin: 0; padding: 0; 
}
.nav ul li
{
    display: inline;
}

#container  
{
    background-color: #0077ff; 
    background-image: url('note.gif'); 
    background-repeat: repeat-y; 
    padding: 25px 25px 25px 50px; 
    width: 600px;
}

.back a 
{ 
    vertical-align: top;
}

.hr 
{ 
    text-align: center; 
}


.quotes
{
    margin-top: 2px;
    margin-left: 1em;
    font-size: 0.9em;
}
