@import url('https://fonts.cdnfonts.com/css/x360');
:root {
  font-size: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

body {
  font-family: 'X360 by Redge', sans-serif;
                                                

  display: flex;
  align-items: center;
  justify-content: center;
  
  min-height: 100vh;
  padding: 30px;
  margin: 0;
  
  color: rgb(136, 0, 170);
  background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://media1.tenor.com/m/KI43R5iTCeQAAAAd/cat-reverse.gif);
  background-size: 100% auto; 
}

.card {
  max-width: 900px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 900px;
  height: 300px;
  padding: 35px;
  border-radius: 34px;
  background: linear-gradient(145deg, #323142, #3b3a4e);
  box-shadow:  35px 35px 88px #21202c,
               -35px -35px 88px #4d4c66;

  backdrop-filter: blur(15px);
  animation: fadeIn 3.2s ease-out;
}

.card-footer {
  font-size: 0.73em;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 250px;
  animation: fadeIn 3.2s ease-out;  
}

.link-footer {
  font-size: 1em;
  color: rgb(255, 255, 255);
  transition: transform 0.3s ease;
  text-decoration: none;
  position: relative;
  top: -30px;
}

.link-footer:hover{
  transform: scale(1.1);
}





.floating {
  float: left;
  width: 50%;
}


.floating2 {
  font-size: 2em;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 55px;
  padding-bottom: -30%;
  padding-top: -30%;
  bottom:266px;
  left: 700px;
  animation: fadeIn 3.2s ease-out;  
  text-decoration: none;
}

.floating3 {
  font-size: 0.9em;
  color: rgb(255, 255, 255);
  position: fixed;
  padding-bottom: -10%;
  padding-top: -10%;
  top: -200px;
  left: 715px;
  animation: fadeIn 3.2s ease-out;  
  text-decoration: none;
}


.nonfootertext{
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #ffffff, #ff00f2);
  font-size: 28px;
  position: relative;
  top: -30px;
}

.title{
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #ff00ff, rgb(255, 0, 0));
  font-size: 55px;
  padding-bottom: -30%;
  padding-top: -30%;
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

*{
  user-select: none;
}


